@import './../modules/variable.scss';
@import './../modules/classes.scss';
@import './../modules/mixins.scss';
@import './../main/media.scss';

// header
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
} 
    header {
    //    position: fixed;
        
        // height: 147px;
        background-color: $color02;
        // z-index: 100;
        div {
            // max-width: 1200px;
            // width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


.navbar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    li {
        padding-left: 50px;
        font-size: $fontsize03;
        a {
            text-decoration : none;
            color: $color01;
        }
    }
}
.page-name {
    color: $color04;
    font-size: $fontsize05;
    display: inline-block;
    // align-items: center;
}
.logo {
    display: inline-block;
}
.burger {
    display: none;
}
.container2 {
    padding-top: 147px;
}
.section-1 {
    padding-top: 50px;
    display: flex;
}
.section-title {
    // width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    h3 {
    font-size: $fontsize04;
    color: $color01;
    padding-bottom: 20px;}
}
.section-title h4 {
    font-size: $fontsize06;
    color: $color01;
}
.button1 {
    padding-top: 30px;
}
.button2 {
    background-color: $color04;
    width: 217px;
    height: 56px;
    color: $color02;
    font-size: $fontsize02;
}
.plant-3 {
    padding-top: 45px;
    img {
    width: 180px;
    height: 250px;}
}
.big-plant {
    width: 600px;
    height: 600px;
}
.section-2 {
    padding-top: 50px;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
}
.relative {
    position: relative;
    z-index: 1;
}
.cover-img {
    position: absolute;
    height: 700px;
    width: 550px;
}
.cover-text {
    position: absolute;
    top: 100px;
    h3 {
        font-size: $fontsize05;
        padding-left: 220px;
    }
    h4 {
        font-size: $fontsize07;
        padding-top: 20px;
        padding-left: 140px;
    }
    p {
        font-size: $fontsize02;
        color: $color04;
        padding-left: 240px;
        padding-top: 30px;
    }
}
.relative2 {
    position: relative;
    z-index: 1;
}
.cover2-img {
    position: absolute;
    height: 340px;
    width: 600px;
    padding-left: 600px;
}
.cover2-text {
    position: absolute;
    top: 100px;
    padding-left: 600px;
    left: 200px;
    h3 {
        font-size: $fontsize05;
        padding-left: 220px;
    }
    h4 {
        font-size: $fontsize07;
        padding-top: 20px;
        padding-left: 140px;
    }
    p {
        font-size: $fontsize02;
        color: $color04;
        padding-left: 240px;
        padding-top: 30px;
    }
}
.relative3 {
    position: relative;
    z-index: 1;
}
.cover3-img {
    height: 340px;
    width: 600px;
    padding-left: 600px;
    padding-top: 350px;
}
.cover3-text {
    position: absolute;
    top: 100px;
    padding-left: 600px;
    padding-top: 350px;
    left: 200px;
    h3 {
        font-size: $fontsize05;
        padding-left: 220px;
    }
    h4 {
        font-size: $fontsize07;
        padding-top: 20px;
        padding-left: 140px;
    }
    p {
        font-size: $fontsize02;
        color: $color04;
        padding-left: 240px;
        padding-top: 30px;
    }
}
.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.decoration {
    width: 550px;
    height: 820px;
}
.info-box {
    width: 550px;
}
.first-info {
    font-size: $fontsize07;
    padding-top: 10px;
}
.info-text {
    font-size: $fontsize02;
    padding-top: 20px;
}
.mini-box {
    width: 250px;
    height: 300px;
    background-color: rgb(192, 211, 192);
    margin-bottom: 20px;
    img {
        width: $size04;
        height: $size04;
        padding-top: 40px;
        padding-left: 100px;
        border-radius: 20%;
    }
    h2 {
        font-size: $fontsize03;
        padding-top: 20px;
        padding-left: 65px;
    }
    h3 {
        padding-top: 20px;
        color: rgb(59, 55, 55);
        padding-left: 10px;
    }
}
.mini-box2 {
    width: 250px;
    height: 300px;
    background-color: rgb(192, 211, 192);
    margin-left: 20px;
    margin-bottom: 20px;
    img {
        width: $size04;
        height: $size04;
        padding-top: 40px;
        padding-left: 100px;
        border-radius: 20%;
    }
    h2 {
        font-size: $fontsize03;
        padding-top: 20px;
        padding-left: 45px;
    }
    h3 {
        padding-top: 20px;
        color: rgb(59, 55, 55);
        padding-left: 10px;
    }
}
.flex {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section4{
    padding-top: 50px;
}
.category {
    font-size: $fontsize04;
    text-align: center;
}
.category-text{
    font-size: $fontsize02;
    padding-top: 20px;
    // padding-left: $size02;
    text-align: center;
}
.category-text2 {
    font-size: $fontsize02;
    // padding-left: 450px;
    text-align: center;
}
.big-plant1 {
    width: 680px;
    height: 350px;
}
.big-plant11 {
    width: 680px;
    height: 350px;
}
.small-plant {
    width: 480px;
    height: 350px;
}
.small-plant22 {
    width: 480px;
    height: 350px;
}
.relative4-1 {
    position: relative;
    h4 {
        position: absolute;
        top: 70px;
        left: 240px;
        font-size: $fontsize07;
        color: rgb(192, 138, 56);
    }
}
.relative4-2 {
    position: relative;
    h4 {
        position: absolute;
        top: 70px;
        left: 150px;
        font-size: $fontsize07;
        color: rgb(192, 138, 56);
    }
}
.relative4-3 {
    position: relative;
    h4 {
        position: absolute;
        top: 40px;
        left: 150px;
        font-size: $fontsize07;
        color: rgb(192, 138, 56);
    }
}
.relative4-4 {
    position: relative;
    h4 {
        position: absolute;
        top: 40px;
        left: 240px;
        font-size: $fontsize07;
        color: rgb(192, 138, 56);
    }
}
.section5 {
    padding-top: 50px;
    div {
        padding-top: 30px;    
    }
}
.category2 {
    font-size: $fontsize04;
    text-align: center;
}
.products {
    width: 360px;
    height: 420px;
}
.plant-name {
    font-size: $fontsize03;
    padding-top: 30px;
    padding-left: 130px;
}
.price {
    font-size: $fontsize06;
    padding-top: 20px;
    padding-left:150px ;
    color: blue;
}
.section6 {
    background-color: $color04;
    margin-top: 50px;
}
.box5-title {
    font-size: 50px;
    // padding-left: 400px;
    text-align: center;
    color: $color02;
    padding-top: 50px;
}
.box5-title2 {
    font-size: $fontsize02;
    text-align: center;
    // padding-left: $size03;
    color: $color02;
    padding-top: 20px;
}
.box5-title3 {
    font-size: $fontsize02;
    text-align: center;
    // padding-left: 290px;
    color: $color02;
    padding-top: 10px;
}
.green-box {
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 60px;
    h2 {
    color: $color02;
    font-size: $fontsize05;
    }
    h3 {
    color: $color02;
    font-size: $fontsize02;
    padding-top: 20px;
    }
    h4 {
    color: $color02;
    font-size: $fontsize02;
    }
}
.all-sale {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    del {
        color: $color02;
        font-size: $fontsize05;
    }
    h5 {
        color: $color02;
        font-size: $fontsize05;
        padding-left: 10px;
    }
}
.button-2 {
    // padding-top: 30px;
    margin-top: 30px;
    .button2-2 {
        background-color: $color02;
    width: 217px;
    height: 56px;
    color: $color01;
    font-size: $fontsize02;
    }
}
.ficus {
    width: 200px;
    height: 220px;
    padding-right: 200px;
    padding-top: 50px;
}
.products2 {
    width: 360px;
    height: 360px;
}
.category-text3 {
    font-size: $fontsize02;
    // padding-left: 330px;
    text-align: center;
    padding-top: 30px;
}
.category-text2 {
    text-align: center;
}
.section7 {
    margin-top: 50px;
}
.blog {
    padding-top: 50px;
    padding-left: 50px;
    width: 600px;
    h2 {
        font-size: $fontsize05;
    }
    h4 {
        font-size: $fontsize05;
        padding-top: 10px;
    }
    h3 {
        font-size: $fontsize01;
        color: $color03;
        padding-top: 20px;
    }
    p {
        font-size: $fontsize02;
        color: $color03;
        padding-top: 30px;
    }
    .button3 {
        padding-top: 30px;
        .button3-text {
            width: 217px;
            height: 56px;
            color: $color01;
            font-size: $fontsize02;
            background-color: $color04;
            color: $color02;
        }
    }
}
.christmas-plant {
    padding-top: 30px;
}
footer {
    background-color: $color04;
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 100px;
}
.footer-box {
    padding-left: 100px;
    h3 {
        font-size: $fontsize07;
        color: $color02;
    }
    h4 {
        color: $color02;
        font-size: $fontsize02;
        padding-top: 20px;
    }
    h5 {
        color: $color02;
        font-size: $fontsize02;
        padding-top: 5px;
    }
}
.border {
    width: 1$size01;
	padding: 10px;
    margin: 10px 0 10px 0;
}
.subscribe {
    width: 100px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: $color05;
    color: $color02;
}
.footer-nav h2 {
    color: $color02;
    font-size: $fontsize06;
    padding-bottom: 30px;
}
.footer-ul li {
    padding-top: 10px;
    a {
        text-decoration: none;
        color: $color02;
        font-size: $fontsize01;
    }
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    li {
        padding-right: 10px;
    }
}
// animation
.navbar-ul a {
    transition: all 0.05s ease 0.05s;
}
.navbar-ul a:hover {
    color: $color05;
}
.navbar-ul a {
    &:hover, 
    &:active {
        border-bottom: 2px solid $color05;
    }
}
.mini-box {
    transition: all 0.1s ease 0.1s;
}
.mini-box2 {
    transition: all 0.1s ease 0.1s;
}
.mini-box:hover {
    background-color: burlywood;
    transform: scale(1.1);
}
.mini-box2:hover {
    background-color: burlywood;
    transform: scale(1.1);
}
.plant-3 img:hover {
    transform: scale(1.1);
}
.relative {
    transition: all 0.1s ease 0.1s;
}
.relative:hover {
    transform: scale(1.1);
}
.page1-box {
    transition: all 0.1s ease 0.1s;
}
.page1-box:hover {
    transform: scale(1.1);
}
.button2 {
    transition: all 0.1s ease 0.1s;
}
.button2:hover {
    background-color: $color05;
}
.relative4-2:hover, .relative4-3:hover, .relative4-1:hover, .relative4-4:hover, .products:hover, .products2:hover {
    transform: scale(0.9);
}
.button2-2:hover {
    background-color: $color05;
}
.navbar-li:hover {
    color: $color01;
}
.shop {
    transition: all 0.3s ease 0.3s;
    animation-name: box;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.responsive-menu {
    display: none;
    position: absolute;
    display: inline-block;
    background-color: $color05;
}
.burger:hover .responsive-menu {
    display: block;
}
.hide {
    text-decoration: none;
    color: $color02;
}



