// size variable
$size01 : 100px;
$size02 : 200px;
$size03 : 300px;

// font size variable
$fontsize01 : 14px;
$fontsize02 : 16px;
$fontsize03 : 22px;
$fontsize04 : 80px;
$fontsize05 : 32px;
$fontsize06 : 18px;
$fontsize07 : 40px;

// color variable
$color01 : black;
$color02 : white;
$color03 : grey;
$color04 : rgb(26, 78, 26);
$color05 : rgb(95, 163, 95);

